<h1 mat-dialog-title>{{"LINKS_DIALOG.TITLE" | translate}}</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="viewTable()">
    <!-- SOURCE Column -->
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"LINKS_DIALOG.SOURCE" | translate}}
      </th>
      <td mat-cell *matCellDef="let link">{{ getNodeLabel(link.source)}}</td>
    </ng-container>

    <!-- TARGET Column -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"LINKS_DIALOG.TARGET" | translate}}
      </th>
      <td mat-cell *matCellDef="let link">{{ getNodeLabel(link.target) }}</td>
    </ng-container>

    <!-- LABEL Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"LINKS_DIALOG.LABEL" | translate}}
      </th>
      <td mat-cell *matCellDef="let link">{{ link.label }}</td>
    </ng-container>

    <!-- ACTIONS Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{"LINKS_DIALOG.ACTIONS" | translate}}
      </th>
      <td mat-cell *matCellDef="let link; let idx = index">
        <mat-icon (click)="deleteLink(idx)" class="icon-action">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'hidden': hideRow(row)}"></tr>
  </table>
  <div *ngIf="!viewTable()">{{"LINKS_DIALOG.NO_LINKS" | translate}}</div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="showNewLinkDialog()">
    {{"LINKS_DIALOG.ADD_LINK" | translate}}
  </button>
  <button mat-button color="primary" (click)="save()">
    {{"COMMON.SAVE" | translate}}
  </button>
  <button mat-button [mat-dialog-close]="true">
    {{"COMMON.CLOSE" | translate}}
  </button>
</div>
