<h1 mat-dialog-title>Edit Challenge</h1>
<div mat-dialog-content>
  <form class="challenge-form" [formGroup]="challengeForm">
    <mat-form-field class="form-field">
      <mat-label>Question</mat-label>
      <input
        matInput
        name="challengeQuestion"
        formControlName="question"
        placeholder="What's 5 + 20?"
        [ngModel]="challenge.question"
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Answer</mat-label>
      <input
        matInput
        name="challengeAnswer"
        formControlName="answer"
        placeholder="25"
        [ngModel]="challenge.answer"
      />
    </mat-form-field>
    <input type="hidden" formControlName="type" [ngModel]="challenge.type">
    <input type="hidden" formControlName="options" [ngModel]="challenge.options">
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="saveChallenge()">Save</button>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>
