<h1 mat-dialog-title>Add a new link</h1>
<div mat-dialog-content>
  <form class="new-link-form" [formGroup]="linkForm">
    <mat-form-field appearance="fill" class="node-form-field">
      <mat-label>Target Node</mat-label>
      <mat-select name="linkTarget" formControlName="target">
        <mat-option *ngFor="let node of targetNodes" [value]="node.id"
          >{{ node.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="node-form-field">
      <mat-label>Label</mat-label>
      <input
        matInput
        name="linkLabel"
        formControlName="label"
        placeholder="Go to target"
      />
    </mat-form-field>
    <button mat-button color="primary" (click)="addActivator()">
      Add Activator
    </button>
    <mat-form-field
      class="node-form-field"
      formArrayName="activators"
      *ngFor="let activator of activatorItems; let i=index"
    >
      <mat-label>Activator</mat-label>
      <input
        matInput
        name="activator"
        [formControlName]="i"
        placeholder="correct_answer"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="addNewLink()">Save</button>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div>
