<h1 mat-dialog-title>{{"LINKS_DIALOG.TITLE" | translate}}</h1>
<div mat-dialog-content>
  <form class="new-link-form" [formGroup]="linkForm">
    <mat-form-field appearance="fill" class="node-form-field">
      <mat-label>{{"LINKS_DIALOG.TARGET" | translate}}</mat-label>
      <mat-select name="linkTarget" formControlName="target">
        <mat-option *ngFor="let node of targetNodes" [value]="node.id"
          >{{ node.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="node-form-field">
      <mat-label>{{"LINKS_DIALOG.LABEL" | translate}}</mat-label>
      <input
        matInput
        name="linkLabel"
        formControlName="label"
        placeholder="{{'LINKS_DIALOG.LABEL_PLACEHOLDER' | translate}}"
      />
    </mat-form-field>
    <button mat-button color="primary" (click)="addActivator()">
      {{"LINKS_DIALOG.ADD_ACTIVATOR" | translate}}
    </button>
    <!-- <div *ngFor="let activator of activatorItems; let i=index" formArrayName="activators">-->
    <div
      formArrayName="activators"
      *ngFor="let activator of activatorsArray.controls; let i = index;"
    >
      <div [formGroupName]="i">
        <mat-form-field appearance="fill" class="node-form-field">
          <mat-label>{{"LINKS_DIALOG.ACTIVATOR_NODE" | translate}}</mat-label>
          <mat-select name="node" formControlName="node" [value]="'coruscant'">
            <mat-option *ngFor="let node of nodes" [value]="node.id"
              >{{ node.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="node-form-field">
          <mat-label>{{"LINKS_DIALOG.ACTIVATOR_CONDITION" | translate}}</mat-label>
          <input
            matInput
            name="condition"
            formControlName="condition"
            placeholder="correct_answer"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="addNewLink()">{{"COMMON.SAVE" | translate}}</button>
  <button mat-button [mat-dialog-close]="true">{{"COMMON.CLOSE" | translate}}</button>
</div>
