.meta-editor-container {
  background: #d1d9ff;
  padding: 10px 10px 10px;
  margin-bottom: 0% !important;
  box-sizing: border-box;
}

.panel button {
  margin-right: 5px;
}

.meta-form {
  height: 74%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-items: flex-start;
}

.form-item {
  width: 50%;
  margin-right: 2rem;
}
.form-item-table {
  width: 100%;
  margin-right: 2rem;
}

.meta-form-field {
  width: 100%;
  margin-bottom: .5rem;
}

.img-thumb {
  border: 1px solid #3f51b5;
  border-radius: 4px;
  padding: 5px;
  height: 5rem;
}

.addButton{
  background-color: #4CAF50;
  color: #FFFFFF;
  margin-left: 1%;
  transform: scale(0.75);
}
::ng-deep .mat-tab-label {
  height: 35px !important;
}
.adventures-coll{
  display: flex; 
  justify-items:center;
  justify-content: center;
}
.save-all-button{
  margin-bottom: 1rem;
  transform: scale(0.9);
}