.hidden-btn {
  visibility: hidden;
}

.form-field {
  width: 50%;
  margin-bottom: 1rem;
}

.bookmark-btn {

}

.container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.question-wrapper {
  min-width: 65%;
}

.bookmark-wrapper {
  min-width: 35%;
  display: flex;
}

.bookmark-wrapper h3 {
  margin-left: 1em;
}

mat-label{
  padding-bottom: 10px;
}

input.mat-input-element {
  padding-bottom: 10px;
}

span .mat-select-placeholder{
  padding-bottom: 10px;
}

.mat-select {
  padding-bottom: 10px;
}
