<h1 mat-dialog-title>{{"CHALLENGE_DIALOG.TITLE" | translate}}</h1>
<div mat-dialog-content>
  <form class="challenge-form" [formGroup]="challengeForm">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{"CHALLENGE_DIALOG.TYPE" | translate}}</mat-label>
      <mat-select
        name="challengeType"
        formControlName="type"
        (selectionChange)="updateType($event.value)"
        [matTooltip]="'TOOLTIPS.CHALLENGE_TYPE' | translate"
      >
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>{{"CHALLENGE_DIALOG.QUESTION" | translate}}</mat-label>
      <input
        matInput
        name="challengeQuestion"
        formControlName="question"
        placeholder="{{'CHALLENGE_DIALOG.QUESTION_PLACEHOLDER' | translate}}"
      />
      <mat-icon
        class="form-tooltip"
        matSuffix
        [matTooltip]="'TOOLTIPS.CHALLENGE_QUESTION' | translate"
        matTooltipPosition="after"
        >help_outline</mat-icon
      >
      <mat-error *ngIf="challengeForm.controls.question.hasError('required')">
        {{ "CHALLENGE_DIALOG.ERRORS.QUESTION_REQUIRED" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" *ngIf="type=='question'">
      <mat-label>{{"CHALLENGE_DIALOG.ANSWER" | translate}}</mat-label>
      <input
        matInput
        name="challengeAnswer"
        formControlName="answer"
        placeholder="{{'CHALLENGE_DIALOG.ANSWER_PLACEHOLDER' | translate}}"
      />
      <mat-icon
        class="form-tooltip"
        matSuffix
        [matTooltip]="'TOOLTIPS.CHALLENGE_ANSWER' | translate"
        matTooltipPosition="after"
        >help_outline</mat-icon
      >
      <mat-error *ngIf="challengeForm.controls.answer.hasError('required')">
        {{ "CHALLENGE_DIALOG.ERRORS.ANSWER_REQUIRED" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="form-field"
      *ngIf="!loading && type=='bookmark'"
    >
      <mat-label>{{"CHALLENGE_DIALOG.DOCUMENT" | translate}}</mat-label>
      <mat-select
        name="challengeDocument"
        formControlName="document"
        [matTooltip]="'TOOLTIPS.CHALLENGE_DOCUMENT' | translate"
      >
        <mat-option *ngFor="let doc of documents" [value]="doc._id">
          {{ doc.docName.split('clone')[0] }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="challengeForm.controls.document.hasError('required')">
        {{ "CHALLENGE_DIALOG.ERRORS.DOCUMENT_REQUIRED" | translate }}
      </mat-error>
    </mat-form-field>
    <ng-container *ngIf="type=='multiple'">
      <div
        formArrayName="options"
        *ngFor="let option of optionsArray.controls; let i = index;"
      >
        <div [formGroupName]="i">
          <mat-form-field class="challenge-form-field">
            <mat-label
              >{{"CHALLENGE_DIALOG.OPTION" | translate:{idx: i+1} }}</mat-label
            >
            <input
              matInput
              name="option"
              formControlName="value"
              placeholder="{{'CHALLENGE_DIALOG.OPTION_PLACEHOLDER' | translate}}"
            />
            <mat-icon
              class="form-tooltip"
              matSuffix
              [matTooltip]="'TOOLTIPS.CHALLENGE_OPTION' | translate"
              matTooltipPosition="after"
              >help_outline</mat-icon
            >
            <mat-error *ngIf="option.get('value').hasError('required')">
              {{ "CHALLENGE_DIALOG.ERRORS.OPTION_TEXT_REQUIRED" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-slide-toggle
            class="correct-slider"
            formControlName="correct"
            [matTooltip]="'TOOLTIPS.OPTION_SLIDER' | translate"
          >
            {{"CHALLENGE_DIALOG.CORRECT_OPTION" | translate }}
          </mat-slide-toggle>
          <button
            mat-mini-fab
            color="warn"
            class="remove-option-btn"
            aria-label="Remove option"
            [matTooltip]="'TOOLTIPS.DELETE_OPTION' | translate"
            (click)="removeOption(i)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <mat-error *ngFor="let error of errors">
          {{error | translate}}
        </mat-error>
      </div>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-button
    *ngIf="type=='multiple'"
    color="accent"
    (click)="addOption()"
  >
    {{"CHALLENGE_DIALOG.ADD_OPTION" | translate}}
  </button>
  <button mat-button color="primary" (click)="saveChallenge()">
    {{"COMMON.SAVE" | translate}}
  </button>
  <button mat-button [mat-dialog-close]="true">
    {{"COMMON.CLOSE" | translate}}
  </button>
</div>
