.form-field {
  width: 100%;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.hidden {
  display: none;
}

.remove-option-btn {
  margin: 1rem;
}

.correct-slider {
  margin: 1rem;
}
