<mat-toolbar color="primary">
  <span (click)="goHome()" class="title">NEURONE-ADVENTURE</span>
  <!-- <div class="button-panel">
    <button mat-button color="white" (click)="goToGame()">{{'HEADER.GAME' | translate}}</button>
    <button mat-button color="white" (click)="goToEditor()">{{'HEADER.EDITOR' | translate}}</button>
  </div> -->
  <span class="spacer"></span>
  <div *ngIf="user">
    <span>{{user.username}}</span>
  </div>
  <div class="button-panel" *ngIf="user">
    <button mat-button color="white" (click)="logout()">{{'HEADER.LOGOUT' | translate}}</button>
  </div>
</mat-toolbar>
