
.mat-toolbar {
  height: 100%;
  background-color: #181818;
  padding-right: 10px !important;
}

.spacer {
  flex: 1 1 auto;
}

.button-panel button{
  margin-right: 0px;
  padding: 0 5px;
}

.clickable {
  cursor: pointer;
}
.notificationMenu{
  font-size: small;
  font-family: Comic Sans MS, sans-serif;
  padding-bottom: 3px !important;
  padding-top: 10px !important;
}
.userInfo{
  display: flex; 
  padding-bottom: 0% !important;
  align-items: center;
  margin-top: -5%;
}

.date-notification-info{
  display: flex; 
  padding-bottom: 0% !important;
  margin-top: -1%;
  margin-bottom: 2%;
  align-items: center;
  justify-content: space-between;
}
.acceptButton{
  background-color: #4CAF50;
  color: #FFFFFF;
  transform: scale(0.8);
}
.rejectButton{
  transform: scale(0.8);
}
.statusInfo{
  font-size: 13px ;
  margin-bottom: 3% !important; 
  margin-top:-2% !important;
}