.adventure-selection-container {
  display: grid;
  grid-template-areas: "header header" "selector selector";
  grid-template-rows: 60px auto;
  height: 100%;
  width: 100%;
  background: lightgray;
}
