.adventure-selection-container {
  display: grid;
  grid-template-areas: "header header" "selector selector";
  grid-template-rows: 60px auto;
  min-width: 100%;
  min-height: 100%;
  background-color: lightgray;
}
