.form-field {
  width: 70%;
  margin-bottom: 1rem;
}
.addButton{
  background-color: #4CAF50;
  color: #FFFFFF;
  margin-left: 1%;
  transform: scale(0.75);
}

.img-thumb {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  height: 5rem; /* Set a small width */
}
