<h1 mat-dialog-title>{{"NEW_ADVENTURE.TITLE" | translate}}</h1>
<div mat-dialog-content>
  <form class="new-link-form" [formGroup]="newAdventureForm">
    <mat-form-field class="form-field">
      <mat-label>{{"NEW_ADVENTURE.NAME" | translate}}</mat-label>
      <input
        matInput
        name="adventureName"
        formControlName="name"
        placeholder="{{'NEW_ADVENTURE.NAME_PLACEHOLDER' | translate}}"
      />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>{{"NEW_ADVENTURE.DESCRIPTION" | translate}}</mat-label>
      <input
        matInput
        name="adventureDescription"
        formControlName="description"
        placeholder="{{'NEW_ADVENTURE.DESCRIPTION_PLACEHOLDER' | translate}}"
      />
    </mat-form-field>
    <div class="file-upload">
      <input type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
      <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Upload
      </button>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="addNewAdventure()">{{"COMMON.SAVE" | translate}}</button>
  <button mat-button [mat-dialog-close]="true">{{"COMMON.CLOSE" | translate}}</button>
</div>
