.form-field {
  width: 70%;
}

.img-thumb {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  height: 5rem; /* Set a small width */
}
