<ng-container *ngIf="!updating; else serviceUpdating">
  <mat-sidenav-container
    class="node-editor"
    (backdropClick)="closeEditor('backdrop')"
  >
    <mat-sidenav
      #sidenav
      (keydown.escape)="closeEditor('escape')"
      position="end"
      disableClose
    >
      <div class="form-container" *ngIf="currentNode != null">
        <h3>{{ "EDITOR.NODE_EDITOR.TITLE" | translate }}</h3>
        <form class="node-form" [formGroup]="nodeForm">
          <mat-form-field
            class="node-form-field"
            *ngIf="currentNode.type != 'initial'"
          >
            <mat-label>{{ "EDITOR.NODE_EDITOR.TYPE" | translate }}</mat-label>
            <mat-select
              [ngModel]="currentNode.type"
              name="nodeType"
              formControlName="type"
              (selectionChange)="updateNodeType($event.value)"
              [disabled]="currentNode.type == 'initial'"
            >
              <mat-option *ngFor="let type of nodeTypes" [value]="type.value">
                {{ type.viewValue | translate }}
              </mat-option>
            </mat-select>
            <mat-icon
              class="form-tooltip"
              matSuffix
              [matTooltip]="'TOOLTIPS.NODE_TYPE' | translate"
              matTooltipPosition="after"
              >help_outline</mat-icon
            >
          </mat-form-field>
          <mat-form-field
            class="node-form-field"
            *ngIf="currentNode.type == 'initial'"
          >
            <mat-label>{{ "EDITOR.NODE_EDITOR.TYPE" | translate }}</mat-label>
            <mat-select
              [ngModel]="currentNode.type"
              name="nodeType"
              formControlName="type"
              (selectionChange)="updateNodeType($event.value)"
              [disabled]="currentNode.type == 'initial'"
            >
              <mat-option *ngFor="let type of initialType" [value]="type.value">
                {{ type.viewValue | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="nodeForm.controls.type.hasError('required')">
              {{ "EDITOR.NODE_EDITOR.ERRORS.TYPE_REQUIRED" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="node-form-field">
            <mat-label>{{ "EDITOR.NODE_EDITOR.LABEL" | translate }}</mat-label>
            <input
              matInput
              name="nodeLabel"
              formControlName="label"
              placeholder="B"
              [ngModel]="currentNode.label"
            />
            <mat-icon
              class="form-tooltip"
              matSuffix
              [matTooltip]="'TOOLTIPS.NODE_LABEL' | translate"
              matTooltipPosition="after"
              >help_outline</mat-icon
            >
            <mat-error *ngIf="nodeForm.controls.label.hasError('required')">
              {{ "EDITOR.NODE_EDITOR.ERRORS.LABEL_REQUIRED" | translate }}
            </mat-error>
          </mat-form-field>
          <form formGroupName="data">
            <mat-form-field class="node-form-field">
              <mat-label>{{
                "EDITOR.NODE_EDITOR.MEDIA_TYPE" | translate
              }}</mat-label>
              <mat-select
                [(value)]="currentMediaType"
                (selectionChange)="nodeMediaChange($event)"
              >
                <mat-option
                  *ngFor="let type of mediaTypes"
                  [value]="type.value"
                >
                  {{ type.viewValue | translate }}
                </mat-option>
              </mat-select>
              <mat-icon
                class="form-tooltip"
                matSuffix
                [matTooltip]="'TOOLTIPS.NODE_MEDIA_TYPE' | translate"
                matTooltipPosition="after"
                >help_outline</mat-icon
              >
            </mat-form-field>
            <div class="img-upload" *ngIf="currentMediaType == 'image'">
              <div *ngIf="currentImg && !imagePreview">
                <img
                  class="img-thumb"
                  src="{{ apiUrl + '/image/' + currentImg }}"
                  alt="..."
                />
              </div>
              <div *ngIf="imagePreview">
                <img class="img-thumb" [src]="imagePreview" alt="..." />
              </div>
              <input
                type="file"
                id="file"
                accept="image/*"
                (change)="handleFileInput($event.target.files)"
              />
            </div>
            <mat-form-field
              class="node-form-field"
              *ngIf="currentMediaType == 'video'"
            >
              <mat-label>{{
                "EDITOR.NODE_EDITOR.VIDEO" | translate
              }}</mat-label>
              <input
                matInput
                name="nodeVideo"
                formControlName="video"
                placeholder="https://www.youtube.com/watch?v=xxZvQPeNBh0"
                [ngModel]="currentNode.data.video"
              />
              <mat-icon
                class="form-tooltip"
                matSuffix
                [matTooltip]="'TOOLTIPS.NODE_VIDEO' | translate"
                matTooltipPosition="after"
                >help_outline</mat-icon
              >
              <mat-error
                *ngIf="nodeForm.get('data.video').hasError('required')"
              >
                {{ "EDITOR.NODE_EDITOR.ERRORS.VIDEO_REQUIRED" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="node-form-field">
              <mat-label>{{ "EDITOR.NODE_EDITOR.TEXT" | translate }}</mat-label>
              <input
                matInput
                name="nodeText"
                formControlName="text"
                placeholder="{{
                  'EDITOR.NODE_EDITOR.TEXT_PLACEHOLDER' | translate
                }}"
                [ngModel]="currentNode.data.text"
              />
              <mat-icon
                class="form-tooltip"
                matSuffix
                [matTooltip]="'TOOLTIPS.NODE_TEXT' | translate"
                matTooltipPosition="after"
                >help_outline</mat-icon
              >
              <mat-error *ngIf="nodeForm.get('data.text').hasError('required')">
                {{ "EDITOR.NODE_EDITOR.ERRORS.TEXT_REQUIRED" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
          <input
            type="hidden"
            formControlName="challenge"
            [ngModel]="currentNode.challenge"
          />
          <input
            type="hidden"
            formControlName="id"
            [ngModel]="currentNode.id"
          />
        </form>
        <div class="sidebar-button-panel" *ngIf="currentNode.type != 'ending'">
          <button mat-stroked-button color="accent" (click)="showLinksDialog()">
            {{ "EDITOR.NODE_EDITOR.LINKS_BTN" | translate }}
          </button>
          <button
            *ngIf="currentNode.type == 'challenge'"
            mat-stroked-button
            color="accent"
            (click)="showChallengeDialog()"
          >
            {{ "EDITOR.NODE_EDITOR.CHALLENGE_BTN" | translate }}
          </button>
        </div>
        <div class="sidebar-button-panel">
          <button mat-raised-button color="primary" (click)="updateNode()">
            {{ "COMMON.SAVE" | translate }}
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="deleteNode()"
            [disabled]="currentNode.type == 'initial'"
          >
            {{ "COMMON.DELETE" | translate }}
          </button>
          <button mat-raised-button (click)="closeEditor()">
            {{ "COMMON.CLOSE" | translate }}
          </button>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <ngx-graph
        class="chart-container"
        [showMiniMap]="true"
        [nodes]="adventure.nodes"
        [links]="adventure.links"
        [draggingEnabled]="false"
        [update$]="updateGraph"
        [autoCenter]="true"
        [autoZoom]="true"
      >
        <!-- Defs custom template -->
        <ng-template #defsTemplate>
          <svg:marker
            id="arrow"
            viewBox="0 -5 10 10"
            refX="8"
            refY="0"
            markerWidth="4"
            markerHeight="4"
            orient="auto"
          >
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <!-- Links custom template -->
        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path
              class="line"
              stroke-width="2"
              marker-end="url(#arrow)"
            ></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%"
              >
                {{ link.label }}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>

        <!-- Nodes custom template -->
        <ng-template #nodeTemplate let-node>
          <svg:g class="node" (click)="openEditor(node)">
            <svg:rect
              [attr.width]="node.dimension.width"
              [attr.height]="node.dimension.height"
              [attr.fill]="node.data.color"
            />
            <svg:text
              alignment-baseline="central"
              [attr.x]="10"
              [attr.y]="node.dimension.height / 2"
            >
              {{ node.label }}
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
      <div class="button-panel">
        <button
          class="new-node-btn"
          mat-fab
          color="accent"
          (click)="showNewNodeForm()"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          class="web-btn"
          mat-fab
          color="accent"
          (click)="showWebDialog()"
        >
          <mat-icon>web</mat-icon>
        </button>
        <button
          class="refresh-btn"
          mat-fab
          color="accent"
          (click)="refreshGraph()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #serviceUpdating>
  <div class="adventure-editor-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
