
.game-container {
  display: grid;
  grid-template-areas: "header header header header" "search search search adventure" "challenge challenge challenge challenge";
  grid-template-rows: 60px auto 150px;
  grid-column-gap: 16px;
  height: 100%;
}

.game-container-no-search {
  display: grid;
  grid-template-areas: "header header header header" "adventure adventure adventure adventure" "challenge challenge challenge challenge";
  grid-template-rows: 60px auto 150px;
  grid-column-gap: 16px;
  height: 100%;
}

.filler {
  background-color: bisque;
}
