
.editor-container {
  display: grid;
  grid-template-areas: "header" "nodes-editor" "meta-editor";
  grid-template-rows: 60px auto auto;
  grid-column-gap: 16px;
  height: 100%;
}

.filler {
  background-color: bisque;
}
