<div class="game-bar-container">
  <mat-card class="choices-card" *ngIf="!challengePending; else challengeCard">
    <mat-card-header>
      <div mat-card-avatar class="player-avatar"></div>
      <mat-card-title>{{ player.username }}</mat-card-title>
      <mat-card-subtitle>{{ "NEURONE novice" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [inset]="true" class="bar-divider"></mat-divider>
    <mat-card-content>
      <div
        class="choices-panel"
        *ngIf="currentNode.type != 'ending'; else endingPanel"
      >
        <button
          *ngFor="let link of currentLinks"
          (click)="goTo(link.target)"
          mat-raised-button
          color="primary"
        >
          {{ link.label }}
        </button>
      </div>
      <ng-template #endingPanel>
        <div class="ending-panel">
          <p>You've reached an ending, congrats!</p>
          <button mat-raised-button color="primary" (click)="finish()">
            Finish
          </button>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <ng-template #challengeCard>
    <mat-card class="challenge-card">
      <mat-card-header>
        <div mat-card-avatar class="player-avatar"></div>
        <mat-card-title>{{ player.username }}</mat-card-title>
        <mat-card-subtitle>{{ "NEURONE novice" }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true" class="bar-divider"></mat-divider>
      <mat-card-content *ngIf="currentChallenge.type == 'question'">
        <h3>{{ currentChallenge.question }}</h3>
        <form class="challenge-form" [formGroup]="answerForm">
          <mat-form-field class="answer-form-field">
            <mat-label>Answer</mat-label>
            <input
              matInput
              name="answerLabel"
              formControlName="answer"
              placeholder="Your answer here"
            />
            <mat-icon matSuffix (click)="sendAnswer()" class="submit-icon"
              >send</mat-icon
            >
          </mat-form-field>
          <button class="hidden-btn" (click)="sendAnswer()"></button>
        </form>
      </mat-card-content>
      <mat-card-content *ngIf="currentChallenge.type == 'multiple'">
        <app-multiple-form
          [challenge]="currentChallenge"
          [adventure]="adventure"
          [currentNode]="currentNode"
          (challengeFinishedEvent)="finishChallenge($event)"
        ></app-multiple-form>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <button class="neurone-btn" mat-fab color="accent" (click)="toggleSearch()">
    <mat-icon *ngIf="!searchEnabled">search</mat-icon>
    <mat-icon *ngIf="searchEnabled">search-off</mat-icon>
  </button>
</div>
