<div class="game-bar-container">
  <mat-card class="choices-card">
    <mat-card-header>
      <img mat-card-avatar class="player-avatar" alt="Player avatar" [src]="avatarImg">
      <mat-card-title>{{ player.username }}</mat-card-title>
      <mat-card-subtitle *ngIf="gmStats && playerLevel">{{
        playerLevel
      }}</mat-card-subtitle>
      <p *ngIf="gmStats && playerPoints">
        {{ playerPoints }} {{ "GAMIFICATION.POINTS" | translate }} -
        {{ "GAMIFICATION.RANK_TEXT" | translate: { rank: playerRank } }}
      </p>
    </mat-card-header>
    <mat-divider [inset]="true" class="bar-divider"></mat-divider>
    <mat-card-content *ngIf="!challengePending; else challengeContent">
      <div
        class="choices-panel"
        *ngIf="currentNode.type != 'ending'; else endingPanel"
      >
        <button
          *ngFor="let link of currentLinks"
          (click)="goTo(link.target)"
          mat-raised-button
          color="primary"
        >
          {{ link.label }}
        </button>
      </div>
      <ng-template #endingPanel>
        <div class="ending-panel">
          <p>{{ "GAMEBAR.ENDING_REACHED" | translate }}</p>
          <button mat-raised-button color="primary" (click)="finish()">
            {{ "COMMON.FINISH" | translate }}
          </button>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <ng-template #challengeContent>
    <mat-card-content *ngIf="currentChallenge.type == 'question'">
      <app-question-form
        [challenge]="currentChallenge"
        [adventure]="adventure"
        [currentNode]="currentNode"
        (challengeFinishedEvent)="finishChallenge($event)"
      ></app-question-form>
    </mat-card-content>
    <mat-card-content *ngIf="currentChallenge.type == 'multiple'">
      <app-multiple-form
        [challenge]="currentChallenge"
        [adventure]="adventure"
        [currentNode]="currentNode"
        (challengeFinishedEvent)="finishChallenge($event)"
      ></app-multiple-form>
    </mat-card-content>
    <mat-card-content *ngIf="currentChallenge.type == 'bookmark'">
      <app-bookmark-form
        [challenge]="currentChallenge"
        [adventure]="adventure"
        [currentNode]="currentNode"
        (challengeFinishedEvent)="finishChallenge($event)"
      ></app-bookmark-form>
    </mat-card-content>
  </ng-template>
  <button class="neurone-btn" mat-fab color="accent" (click)="toggleSearch()">
    <mat-icon *ngIf="!searchEnabled">search</mat-icon>
    <mat-icon *ngIf="searchEnabled">search-off</mat-icon>
  </button>
</div>
