.game-bar-container {
  background-color: bisque;
  height: 100%;
  box-sizing: border-box;
  padding: 25px 25px 25px;
}

.choices-panel button {
  margin-right: 5px;
}

.ending-panel button{
  margin-right: 5px;
}
