<div class="game-bar-container">
  <div class="choices-panel" *ngIf="gameService.currentNode.type=='transition'
                                    || gameService.currentNode.type=='initial'">
    <button
      *ngFor="let link of gameService.currentLinks"
      (click)="gameService.goTo(link.target)"
      mat-raised-button
      color="primary"
    >
      {{ link.label }}
    </button>
    <button mat-raised-button color="accent" (click)="SearchService.toggleSearch()">NEURONE</button>
  </div>
  <div class="ending-panel" *ngIf="gameService.currentNode.type=='ending'">
    <p>You've reached an ending, congrats!</p>
    <button mat-raised-button color="primary" (click)="refresh()">Finish</button>
  </div>
</div>
