.game-bar-container {
  background-color: bisque;
  height: 100%;
  box-sizing: border-box;
  padding: 25px 25px 25px;
  position: relative;
}

.choices-panel button {
  margin-right: 5px;
}

.ending-panel button{
  margin-right: 5px;
}

.neurone-btn {
  position: absolute;
  top: -20px;
  right: 15%;
}
