<h1 mat-dialog-title>{{"NEW_LINK_DIALOG.TITLE" | translate}}</h1>
<div mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="5:1">
    <form class="new-link-form" [formGroup]="linkForm">
      <mat-grid-tile>
        <mat-form-field appearance="fill" class="node-form-field">
          <mat-label>{{"NEW_LINK_DIALOG.TARGET" | translate}}</mat-label>
          <mat-select name="linkTarget" formControlName="target">
            <mat-option *ngFor="let node of targetNodes" [value]="node.id"
              >{{ node.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="node-form-field">
          <mat-label>{{"NEW_LINK_DIALOG.LABEL" | translate}}</mat-label>
          <input
            matInput
            name="linkLabel"
            formControlName="label"
            placeholder="{{'NEW_LINK_DIALOG.LABEL_PLACEHOLDER' | translate}}"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-button color="accent" (click)="addActivator()" matTooltip="{{'NEW_LINK_DIALOG.TOOLTIPS.ADD_ACTIVATOR' | translate}}">
          {{"NEW_LINK_DIALOG.ADD_ACTIVATOR" | translate}}
        </button>
      </mat-grid-tile>
      <!-- <div *ngFor="let activator of activatorItems; let i=index" formArrayName="activators">-->
      <div
        formArrayName="activators"
        *ngFor="let activator of activatorsArray.controls; let i = index;"
      >
        <div [formGroupName]="i">
          <mat-grid-tile colspan="2">
            <mat-form-field class="node-form-field">
              <mat-label
                >{{"NEW_LINK_DIALOG.ACTIVATOR_CONDITION" |
                translate}}</mat-label
              >
              <mat-select name="condition" formControlName="condition">
                <mat-option
                  *ngFor="let type of activatorTypes"
                  [value]="type.value"
                  >{{ type.viewValue | translate }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <button
              mat-mini-fab
              color="warn"
              aria-label="Remove option"
              (click)="removeActivator(i)"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field
              appearance="fill"
              class="node-form-field"
              *ngIf="activatorNeedsNode(activator)"
            >
              <mat-label
                >{{"NEW_LINK_DIALOG.ACTIVATOR_NODE" | translate}}</mat-label
              >
              <mat-select name="node" formControlName="node">
                <mat-option
                  *ngFor="let node of challengeNodes"
                  [value]="node.id"
                  >{{ node.label }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              class="node-form-field"
              *ngIf="activatorNeedsLevel(activator)"
            >
              <mat-label
                >{{"NEW_LINK_DIALOG.ACTIVATOR_LEVEL" | translate}}</mat-label
              >
              <mat-select name="level" formControlName="level">
                <mat-option *ngFor="let level of GMlevels" [value]="level.value"
                  >{{ level.viewValue }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              class="node-form-field"
              *ngIf="activatorNeedsLinksValue(activator)"
            >
              <mat-label
                >{{"NEW_LINK_DIALOG.RELEVANT_LINKS_VALUE" |
                translate}}</mat-label
              >
              <input
                matInput
                type="number"
                name="links"
                formControlName="links_count"
              />
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </div>
    </form>
  </mat-grid-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="addNewLink()">
    {{"COMMON.SAVE" | translate}}
  </button>
  <button mat-button [mat-dialog-close]="true">
    {{"COMMON.CANCEL" | translate}}
  </button>
</div>
