.node-form-field {
  width: 70%;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.hidden {
  display: none;
}

.img-thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 5rem;
}

.img-upload {
  margin-bottom: 1rem;
}
