.selector-container {
  padding: 0.8em 1.8em 1.8em 1.8em;
}
.description-wrap {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.8em;
  height: 3.6em;
}
.adventure-img {
  height: 10em;
  object-fit: cover;
  margin-bottom: 0;
}

.button-panel {
  position: fixed;
  bottom: 5em;
  right: 5em;
}

.config-cards {
  display: flex;
  height: 15rem;
}

.addButton{
  background-color: #4CAF50;
  color: #FFFFFF;
}

.adventures-title{
  display: flex; 
  align-items:center;
  margin-left: -5%;
}

.user-info{
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  display: flex; 
  margin-left: -5%;
}
.button-actions{
  margin: 0px 0% !important;
  padding-left: 4%;
  padding-right: 4%;
}
.edit-info {
  display: flex;
  position: absolute;
  transform: scale(0.75);
  width: 100%;
  justify-content: flex-end;
}

.edit-btn {
  background-color: #FFCC00;
}