.selector-container {
  padding: 1.8em;
}
.description-wrap {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.8em;
  height: 3.6em;
}
.adventure-img {
  height: 10em;
  object-fit: cover;
}

.button-panel {
  position: fixed;
  bottom: 5em;
  right: 5em;
}

.gm-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

