<div class="adventure">
  <mat-card class="adventure-card">
    <div class="image-wrapper" *ngIf="currentMedia == 'image'">
      <img
        class="node-img"
        *ngIf="loadingImg"
        src="/assets/images/loading.gif"
        onerror="this.src='/assets/images/placeholder.png';"
        alt=""
      />
      <img
        class="node-img"
        src="{{ apiUrl + '/image/' + imageId }}"
        onerror="this.src='/assets/images/placeholder.png';"
        alt=""
        (load)="mediaLoaded()"
        [hidden]="loadingImg"
      />
    </div>
    <div class="video-wrapper" *ngIf="currentMedia == 'video'">
      <embedded-media
        [video]="currentNode.data.video"
        class="embedded-video"
        attributes='{ "width": "100%", "height": "100%", "class":"video-frame", "allow":"autoplay; fullscreen" }'
      ></embedded-media>
    </div>
    <div class="text-wrapper">
      <p>{{ currentNode.data.text }}</p>
    </div>
  </mat-card>
  <button class="neurone-btn" *ngIf="searchEnabled" mat-icon-button color="primary" (click)="toggleSearch()" [matTooltip]="'TOOLTIPS.SHOW_SEARCH_IF' | translate">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button class="neurone-btn" *ngIf="!searchEnabled" mat-icon-button color="primary" (click)="toggleSearch()"[matTooltip]="'TOOLTIPS.HIDE_SEARCH_IF' | translate">
    <mat-icon>chevron_left</mat-icon>
  </button>
</div>
