
.adventure {
  box-sizing: border-box;
  // background: #d1d9ff;
  padding: 5px 10px 5px;
  height: 100%;
  width: 100%;
  position: relative;
}

.adventure-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: lightgray;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #283593;
  border-radius: 3em;
}

.image-wrapper {
  display: flex;
  width: 85%;
  height: 40vh;
  justify-content: center;
}

.video-wrapper {
  box-sizing: border-box;
  height: 20rem;
  width: 100%;
}

.embedded-video {
  width: 100%;
  height: 100%;
  background: #000;
  ::ng-deep .video-frame {
      background: #000;
      .vp-center {
          background: #000;
      }
      // position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20rem !important;
  }
}

.text-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

}

.text-wrapper p{
  // word-wrap: normal;
  margin-top: 2rem;
  white-space: pre-line;
}

.node-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.loading {
  opacity: 0;
  background: transparent url('/assets/images/loading.gif') center no-repeat;
}

.neurone-btn {
  position: absolute;
  top: 50%;
  right: 5px;
}

.adventure-img {
  background: transparent url('/assets/images/loading.gif') center no-repeat;
}
